body {
    background-color: black;
}

/*home page code*/

.home-page-title {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 2.5rem;
    text-align: left;
    margin-top: 2.5rem;
    margin-left: 0.625rem;
    padding-left: 5%;
    padding-top: 6.25rem;
}

.sub-heading-home-page {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 1.25rem;
    text-align: left;
    padding-left: 5%;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    justify-content: left;
}

.home-page-title, .sub-heading-home-page {
    background-image: url(assets\images\52f8df_e3f9a27233d74c01ae2d3eda5b55ce15~mv2.webp);
    background-size: cover;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.container {
 display: flex;
 column-gap: 5px;
 left: 100px;
}

/*footer code*/

.footer{
    background-color: black;
    color: white;
    font-family: EB Garamond, serif;
    font-size: 30px;
    text-align: center; 
    padding-bottom: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-portfolio {
    background-color: black;
    color: white;
    font-family: EB Garamond, serif;
    font-size: 20px;
    text-align: center; 
    margin-bottom: 20px;
}

.fa-brands {
    color: white;
    font-size: 30px;
    margin: 10px;
    margin-left: 20px;
}

.fa-facebook:hover {
    color: grey;
    transform: scale(1.2);
}

.fa-instagram:hover {
    color: grey;
    transform: scale(1.2);
}

.fa-linkedin:hover {
    color: grey;
    transform: scale(1.2);
}

/*Meet the team page code*/

.about-me-heading {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 2.5rem;
    text-align: center; 
    margin-top: 2.5rem;
    margin-left: 0.625rem;
}

.about-me-content {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 1.25rem;
    text-align: center; 
    padding-left: 5%;
    padding-top: 2.5rem;
}

.about-me-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.about-me-image img {
    width: 15rem;
    height: 15rem;
    margin-left: 1.25rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/*portfolio page code*/

.portfolio-heading {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 2.5rem;
    text-align: center; 
    margin-top: 2.5rem;
    margin-left: 0.625rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 0 5%;
}

.gallery-item img {
    width: 18.75rem;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/*services page code*/

.services-heading {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 2.5rem;
    text-align: center; 
    margin-top: 2.5rem;
    margin-left: 0.625rem;
}
.sub-heading-services {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 0.625rem;
    text-align: center; 
    padding-left: 5%;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
}
.service-item {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin: 0.625rem;
    text-align: center;
    transition: transform 0.3s ease;
}

/*contact code*/

.contact {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 20px;
    text-align: center; 
    margin-top: 40px;
    margin-left: 10px;
    padding-left: 5%;
    padding-top: 100px;
}

.contact-info {
    color: white;
    font-family: EB Garamond, serif;
    font-size: 16px;
    text-align: center; 
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5%;
}

p a {
    color: white;
    text-decoration: underline;
}

p a:link {
    color: white;
}

p a:visited {
    color: #E93C14
}

p a:hover {
    color: lightgrey
}

p a:focus {
    color: darkorange;
}

p a:active{
    color: darkred;
}

* {
    text-decoration: none;
}

/* navbar code*/

.navbar {
    background-color: black;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navdiv ul {
    display: flex;
    margin-left: auto;
}
li {
    list-style: none;
    display: inline-block;
    font-family: EB Garamond, serif;
    font-weight: 100px;
    font-size: 20px;
    margin-top: 10px;
}
li a {
    color: white;
    padding: 10px 15px;
    font-size: 18px;
}

hr {
    color: darkslategray;
}

/* media queries */

@media (max-width: 768px) {
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .home-page-title {
        font-size: 1.5rem;
        padding-left: 2%;
    }
    .sub-heading-home-page {
        font-size: 1rem;
        padding-left: 2%;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .about-me-title {
        font-size: 1.5rem;
        padding-left: 2%;
    }
    .about-me-image img {
        width: 200px;
        height: auto;
        border-radius: 100%;
        justify-content: left;
        text-align: left;
        align-items: left;
    }
    .about-me-content {
        font-size: 0.9rem;
        padding-left: 5%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-heading {
        font-size: 1.5rem;
        padding-left: 2%;
    }
    .service-main-content {
        flex-direction: column;
        align-items: center;
    }
    .navdiv {
        flex-direction: column;
        align-items: center;
    }
    .navdiv ul {
        flex-direction: column;
        align-items: center;
        padding-right: 5%;
    }
    
}